{% extends 'base.html.twig' %}

{% block body %}
<h1>Pixel {{ '.icon-gamepad'|parse_icons }}</h1>
<p>
    Suivez-nous sur: {{ '.brand-facebook .brand-instagram .brand-tiktok'|parse_icons }}
</p>
{% endblock %}