{% extends "front_layout.html.twig" %}

{% block content %}
    <h1>Modifier un jeu</h1>
    {% embed "decorator/_form.html.twig" %}
        {% block formBody %}
            {{ form_widget(form) }}

            {# affichage de l'image #}
            {% if entity.image is not empty %}
            <img src="{{ asset(entity.image.webPath) }}" alt="{{ entity.title }}">
            {% endif %}
        {% endblock %}
    {% endembed %}
{% endblock %}