{% extends 'base.html.twig' %}

{% block body %}
<h1>{{ entity.name }}</h1>
<<<<<<< HEAD
<div>{{ entity.category }}</div>

<div class="border-info border-2 p-2">
{{ entity.description }}
=======

<div class="border border-primary border-2 p-2">
    {{ entity.description|raw }}
>>>>>>> TP3
</div>
{% endblock %}